@{
    ViewData["Title"] = "Día de la Semana";
}

<div style="display:flex; flex-direction:column; align-items:center; min-height:70vh;">
    <h2>Día de la Semana</h2>
    <form method="post" style="margin-top:20px; text-align:center;">
        <input type="date" name="fecha" style="padding:8px;" />
        <br /><br />
        <button type="submit">Verificar</button>
    </form>

    @if (ViewBag.Resultado != null)
        @ViewBag.Resultado

    <br />
    <a href="/Home/Index" style="
        padding: 8px 16px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    ">⬅️ Volver al Menú</a>
</div>
