@{
    ViewData["Title"] = "Verificar Anagramas";
}

<div style="display:flex; flex-direction:column; align-items:center; min-height:70vh;">
    <h2>Verificación de Anagramas</h2>
    <p style="margin-top:15px; text-align:center;">
        @ViewBag.Resultado
    </p>

    <br />
    <a href="/Home/Index" style="
        padding: 8px 16px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    ">⬅️ Volver al Menú</a>
</div>
